@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

.newspaper-container {
    width: 700px;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 20px;
    margin: auto;
}

.title {
    text-align: center;
    font-family: Abril Fatface;
}

.navi {
    list-style-type: none;
    display: flex;
    margin-right: 2em;
    flex-direction: row;
    justify-content: space-evenly;
}

.navi li {
    margin: 10px;
    max-width: 500px;
    font-family: Source Sans Pro;
    font-weight: 100;

}

.date {
    font-family: Source Sans Pro;
    font-weight: 100;
}

a {
    text-decoration: none;
    white-space: nowrap;
}

# {
    color: lightgray;
}

.more-articles {
    display: flex;
    justify-content: space-evenly;
    margin-right: -1em;
}

h2 {
    font-weight: bold;
    font-family: Roboto Slab;
}

* {
    text-wrap: balance;
}

.title {
    font-size: 3.5em;

}

p {
    font-family: Source Sans Pro;
    font-weight: 100;
}

#img1 {
width: 100%;
height: auto;
}

#img2, #img3 {
width: 95%;
height: auto;

}

h4 {
    font-weight: bold;
    font-family: Roboto Slab;
}

.one {
border: none;
height: 1px;
background: #dddddd;
margin: 0;
}

p {
    word-break: break-all;
}

h5 {
    color:hsla(0, 64%, 49%, 0.973)
}